#[probe_eddy_ng btt_eddy]
#sensor_type: btt_eddy
#i2c_mcu: EBBCan
#i2c_bus: i2c3_PB3_PB4
#x_offset: 10
#y_offset: 10
#z_offset: 2.5

[probe_eddy_current btt_eddy]
sensor_type: ldc1612
z_offset: 2.5
i2c_mcu: eddy  # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the MCU you have used.
i2c_bus: i2c3_PB3_PB4 # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the I2C bus you have used.
# Measure the offsets below using the method described here: https://www.klipper3d.org/Probe_Calibrate.html#calibrating-probe-x-and-y-offsets
# For a standard Voron stealthburner X carriage mount there should be no need to change the defaults below.
x_offset: 0
y_offset: 31.00

